# Gmail nastavení pro odesílání záloh
EMAIL_USER=pecenyjiri@gmail.com
EMAIL_APP_PASSWORD=Nelinka@3

# Email pro denní zálohy
DAILY_BACKUP_EMAIL=pecenyjirik@gmail.com

# Email pro týdenní zálohy
WEEKLY_BACKUP_EMAIL=pecenyjiri@gmail.com
